
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #000;
}


.navbar {
    background-color: rgba(0, 0, 0, 1); 
    color: #ffffff;
    padding: 15px 2%; 
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    height: 60px; 
    width: auto;
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.3s;
}

/* DROPDOWN */
.dropdown-content {
    display: none; 
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #000;
    padding: 40px 5%;
    border-top: 1px solid #222;
}

.dropdown.is-active .dropdown-content {
    display: block;
}

.dropdown.is-active > a {
    color: #00bcd4; 
}

.dropdown-inner {
    display: flex;
    gap: 100px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
}

.column a {
    color: #888 !important;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 12px;
}

.column a:hover {
    color: #ffffff !important;
}

.no-title {
    margin-top: 40px; 
}

/* --- MAIN FOOTER --- */
.main-footer {
    background-color: #000;
    padding: 80px 5% 40px 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    color: white;
}

.footer-container {
    max-width: 1300px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1.2fr; 
    gap: 40px;
}

.footer-logo {
    height: 70px;
    margin-bottom: 25px;
}

.footer-address {
    color: #8899a6;
    font-size: 14px;
    line-height: 1.6;
}

.footer-links h3, .footer-social h3 {
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.footer-links ul {
    list-style: none;
}

.footer-links ul li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #8899a6;
    text-decoration: none;
    transition: 0.3s;
}

.footer-links a:hover {
    color: #fff;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icons img {
    width: 24px;
    filter: invert(0); 
}

.copyright {
    margin-top: 30px;
    font-size: 12px;
    color: #555;
}