/* RESET & GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* NAVBAR MAIN */
.navbar {
    background-color: rgba(0, 0, 0, 1); 
    color: #ffffff;
    padding: 15px 2%; 
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed; 
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo img {
    height: 60px; 
    width: auto;
    display: block;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: color 0.3s;
}

.dropdown-content {
    display: none; 
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: #000;
    padding: 40px 2% 60px 2%;
    border-top: 1px solid #222;
    z-index: -1;
}


.dropdown.is-active .dropdown-content {
    display: block;
}

.dropdown.is-active > a {
    color: #00bcd4; 
}

.dropdown-inner {
    display: flex;
    gap: 100px;
}

.column {
    display: flex;
    flex-direction: column;
}

.column h3 {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    font-weight: 600;
}

.column a {
    color: #888 !important;
    font-size: 14px;
    margin-bottom: 12px;
    font-weight: 400;
}

.column a:hover {
    color: #ffffff !important;
}

.no-title {
    margin-top: 40px; 
}

.nav-actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.btn-group {
    border: 1px solid #444;
    border-radius: 50px;
    padding: 8px 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0) 100%);
}

.btn-group a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.btn-shop { color: #ffffff; }
.btn-tour { color: #d4ff00; } 
.btn-donate { color: #00bcd4; } 

.nav-icons {
    display: flex;
    gap: 20px;
}

.icon {
    width: 22px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
}